.admin-header {
background:#0B3B66;
padding: 20px;
text-align: center;
color: #fff;
font-size: 24px;
font-weight: bold;
}


.container-admin {
width: 90%;
margin: auto;
margin-top: 30px;
}


.btn-add {
background: #1f7a1f;
color: white;
border: none;
padding: 10px 20px;
margin-bottom: 20px;
cursor: pointer;
border-radius: 6px;
}


.tabela-produtos {
width: 100%;
border-collapse: collapse;
background: #fff;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.tabela-produtos th {
background: #1E293B;
padding: 10px;
color: #fff;
}